@font-face {
    font-family: "ducati";
    src: url(../fonts/DucatiStyle_W_Rg.eot);
    src: url(../fonts/DucatiStyle_W_Rg.eot?#iefix) format("embedded-opentype"),
    url(../fonts/DucatiStyle_W_Rg.woff2) format("woff2"),
    url(../fonts/DucatiStyle_W_Rg.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "ducati";
    src: url(../fonts/DucatiStyle_W_Bd.eot);
    src: url(../fonts/DucatiStyle_W_Bd.eot?#iefix) format("embedded-opentype"),
    url(../fonts/DucatiStyle_W_Bd.woff2) format("woff2"),
    url(../fonts/DucatiStyle_W_Bd.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "ducati-extended";
    src: url(../fonts/DucatiStyleExt_W_Rg.eot);
    src: url(../fonts/DucatiStyleExt_W_Rg.eot?#iefix) format("embedded-opentype"),
    url(../fonts/DucatiStyleExt_W_Rg.woff2) format("woff2"),
    url(../fonts/DucatiStyleExt_W_Rg.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "ducati-extended";
    src: url(../fonts/DucatiStyleExt_W_Bd.eot);
    src: url(../fonts/DucatiStyleExt_W_Bd.eot?#iefix) format("embedded-opentype"),
    url(../fonts/DucatiStyleExt_W_Bd.woff2) format("woff2"),
    url(../fonts/DucatiStyleExt_W_Bd.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "ducati-condensed";
    src: url(../fonts/DucatiStyleCond_W_Bd.eot);
    src: url(../fonts/DucatiStyleCond_W_Bd.eot?#iefix) format("embedded-opentype"),
    url(../fonts/DucatiStyleCond_W_Bd.woff2) format("woff2"),
    url(../fonts/DucatiStyleCond_W_Bd.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "ducati-condensed";
    src: url(../fonts/DucatiStyleCond_W_XBd.eot);
    src: url(../fonts/DucatiStyleCond_W_XBd.eot?#iefix) format("embedded-opentype"),
    url(../fonts/DucatiStyleCond_W_XBd.woff2) format("woff2"),
    url(../fonts/DucatiStyleCond_W_XBd.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}